@import: url(https://fonts.googleapis.com/css?family=Roboto+Condensed);
body {
  font-family: 'Roboto Condensed', sans-serif;
  height: 100%;
  background-color: gray;
  color: #fff;
  text-transform: uppercase;
}

#main{

    display: flex;
    flex-wrap: wrap;
    
}

#carr{
    height: auto;
    width: 400px;
    border: 2px solid red;
    margin-left: 30px;
    margin-top: 10px;
    text-align: center;
    border-radius: 10px;
    background-color:tan;
}



    #btn{
        background-color:gold;
        border: 3px solid #ff0251;
        color: #ff0251;
        transition: .3s;
        margin-bottom: 5px;
      }
      #btn:hover {
        animation: pulse 1s infinite;
        transition: .3s;
      }
      @keyframes pulse {
        0% {
          transform: scale(1);
        }
        70% {
          transform: scale(.9);
        }
          100% {
          transform: scale(1);
        }
      }
